.theme-container button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.95em;
    color: #36425b;
    outline: none;
    background: #e4f1ff;
    border: none;
    border-bottom: 2px solid rgba(80, 139, 234, 0.67);
    padding: 0.6em 0.8em 0.5em;
    cursor: pointer;
    transition: all 0.3s;
    margin: 0 0.5em;
    opacity: 0.45;
    text-transform: capitalize;
}

.theme-container button.active {
    opacity: 1;
}

.theme-container h3 {
    font-weight: 500;
    color: #36425b;
}

.pickr-container {
    margin-top: 2em;
}

main > p {
    margin-top: 0.35em;
    font-size: 0.75em;
    font-weight: 500;
    color: #42445a;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {

    main > section {
        min-width: 90%;
    }

    main > section h2 {
        font-size: 1em;
    }

    main > section pre {
        font-size: 0.9em;
    }

    main section.demo .hint svg {
        height: 1.2em;
    }

    main section.demo .hint span {
        transform: translate3d(-3em, -1.4em, 0);
        font-size: 0.6em;
    }
}
